* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 220px;
  padding: 20px;
}

.sidebar.logo {
  margin-bottom: 20px;
  font-size: 18px;
}

.sidebar ul {
  list-style: none;
}

.sidebar ul li {
  padding: 10px;
  cursor: pointer;
}
